{#
 # This file is part of WebKeyPass.
 #
 # Copyright © 2013 Université Catholique de Louvain
 #
 # WebKeyPass is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # WebKeyPass is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with WebKeyPass.  If not, see <http://www.gnu.org/licenses/>.
 #
 # Author: Sébastien Wilmet
 #}

{% extends 'UCLWebKeyPassBundle::base.html.twig' %}

{% block page_title %}
  <h2>{{ title }}</h2>
{% endblock %}

{% block contents %}
  <h3>By names</h3>
  {% for path in found_paths_by_names %}
    <p>
      {{ include('UCLWebKeyPassBundle::path.html.twig', {'path': path}) }}
    </p>
  {% else %}
    <p>No results.</p>
  {% endfor %}

  <h3>By serial numbers</h3>
  <table>
    {% for data in found_data_by_serial_numbers %}
      <tr>
        <td>
          {{ include('UCLWebKeyPassBundle::path.html.twig', {'path': data.path}) }}
        </td>
        <td>
          {{ data.serial_number }}
        </td>
      </tr>
    {% else %}
      <tr><td>No results.</td></tr>
    {% endfor %}
  </table>
{% endblock %}
