<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>UCL WebKeyPass</title>
<link href="{{ asset('bundles/uclwebkeypass/css/style.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>
<h1>UCL WebKeyPass</h1>

<div id="side_panel">
  <ul>
    <li class="category linux">
      <strong>Linux</strong>
      <ul>
        <li class="server">
          <a href="#">Long name long name long name long name long name Server 1</a>
        </li>
        <li class="server">
          <a href="#" class="selected">Server 2</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 3</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 4</a>
        </li>
        <li class="server">
          <a href="#">Server 5</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 6</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="category windows">
      <strong>Windows</strong>
      <ul>
        <li class="server">
          <a href="#">Long name long name long name long name long name Server 1</a>
        </li>
        <li class="server">
          <a href="#">Server 2</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 3</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 4</a>
        </li>
        <li class="server">
          <a href="#">Server 5</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 6</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="category solaris">
      <strong>Solaris</strong>
      <ul>
        <li class="server">
          <a href="#">Long name long name long name long name long name Server 1</a>
        </li>
        <li class="server">
          <a href="#">Server 2</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 3</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 4</a>
        </li>
        <li class="server">
          <a href="#">Server 5</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
            <li class="vm"><a href="#">Virtual Machine C</a></li>
          </ul>
        </li>
        <li class="server">
          <a href="#">Server 6</a>
          <ul>
            <li class="vm"><a href="#">Virtual Machine A</a></li>
            <li class="vm"><a href="#">Virtual Machine B</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div id="contents">
  <h2>Main Page</h2>
  <p>Choose a server on the left.</p>
</div>

</body>
</html>
